{% extends 'base.html.twig' %}

{% block title %}Développeur web freelance à Montpellier | Parlaoz Eric{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet"
          href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script type="text/javascript">
        new WOW().init()
    </script>
{% endblock %}



{% block body %}

    <section class="section1">
        <div class="parallax-effect">
            <div class="cont-1 container">
                <div class="row">
                    <div class="col">
                        <p class="P-white ">Hello !</p>
                        <H2 class="H2-white wow animate__animated animate__backInRight"><strong>Je m’appel éric
                                PARLAOZ</strong></H2>
                        <H3 class="H3-white">Développeur web freelance</H3>
                        <a href="#qui" type="button" class="button-white btn btn-outline-light">Qui suis-je ?</a></div>
                    <div class="col-4 mx-auto">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section2" id="qui">
        <div class="container">
            <div class="row ">
                <div class="col mt-5 ">
                    <H2 class="H2-color ">Qui suis-je ?</H2>
                    <p><strong>Développeur web</strong> Freelance et <strong>Webdesigner</strong>, je vous assiste dans
                        la création d’un site web performant et / ou d’une application mobile.
                        <br>
                        Grâce à mon experiences, je peux vous accompagner sur différents types de projets. Du design de
                        sites web à la création de sites internet en passant par l’optimisation SEO, je pourrais vous
                        aider sur tous les axes de vos projets digitaux.

                        Toutes ses compétences mises bout à bout me permettent d’être présent à vos côtés de la genèse
                        de votre projet jusqu’à la fin de celui-ci.</p>
                    <a href="{{ asset('#competences') }}">
                        <button type="button" class="button-color btn btn-primary">Mes compétences</button>
                    </a>
                </div>
                <div class="col justify-content-center d-flex flex-wrap mx-auto">
                    <img class="image-taille align-items-center" src="{{ asset('/images/developpeur-web.jpg') }}"
                         alt="">
                </div>
            </div>
        </div>
    </section>
    <hr class="barre mx-auto"/>
    <section class="section3" id="competences">
        <div class="container">
            <div class="para text-center">
                <H2 class="H2-color">Compétences en développement web</H2>
                <p>Je travaille dans le domaine du web depuis plus de 5 ans. Webmaster expert en WordPress et en cours
                    d’obtention du Titre de Développeur Web Full-Stack, j’ai travaillé pour de nombreuses entreprises
                    très différentes sur Sète, Montpellier et dans le monde entier.</p>
            </div>
            <div class="row mt-6">
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card mx-auto">
                        <H3 class="H3-bleu">Développement Web</H3>
                        <p class="H4 mt-2">HTML / CSS
                        </p>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">PHP</H4>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">MYSQL – SQL</H4>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">JavaScript – React</H4>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">Optimisations SEO</H4>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card mx-auto">
                        <H3 class="H3-orange">Web design</H3>
                        <H4 class="H4 mt-2">Adobe Illustrator</H4>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">Adobe Photoshop</H4>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 90%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">Adobe XD</H4>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">Figma</H4>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card mx-auto">
                        <H3 class="H3-violet">CMS</H3>
                        <H4 class="H4 mt-2">Wordpress</H4>
                        <div class="progress barre-bleu">
                            <div class=" progress-bar bg-info" role="progressbar" style="width: 100%;"
                                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">Woocommerce</H4>
                        <div class="progress barre-bleu">
                            <div class=" progress-bar bg-info" role="progressbar" style="width: 100%;"
                                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">Joomla</H4>
                        <div class="progress barre-bleu">
                            <div class=" progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <H4 class="H4 mt-2">Prestashop</H4>
                        <div class="progress barre-bleu">
                            <div class=" progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center text-center mt-6">
                <div class="col">
                    <img class="img-tech mb-3" src="{{ asset('images/symfony.svg') }}" alt="">
                </div>
                <div class="col">
                    <img class="img-tech mb-3" src="{{ asset('images/bootstrap.png') }}" alt="">
                </div>
                <div class="col">
                    <img class="img-tech mb-3" src="{{ asset('images/react.png') }}" alt="">

                </div>
            </div>
        </div>
    </section>
    <section class="section4" id="chiffres">
        <div class="cont-2 container">
            <div class="row text-center justify-content-center">
                <div class="col wow animate__animated animate__tada">
                    <div class="block-responsive">
                    <H2 class="H2-white-grand wow animate__animated animate__bounce">+1500</H2>
                    <p class="P-white-grand">De projets clients traités</p>
                    </div>
                </div>
                <div class="col wow animate__animated animate__tada">
                    <div class="block-responsive">
                    <H2 class="H2-white-grand">5 ans</H2>
                    <p class="P-white-grand">D'expérience dans le domaine du web</p>
                </div>
                </div>
                <div class="col wow animate__animated animate__tada">
                    <div class="block-responsive">
                    <H2 class="H2-white-grand">100%</H2>
                    <p class="P-white-grand">D'investissement donné dans chaque projet</p>
                    </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="container cont-3 ">
            <div class="row sm-5 align-items-center">
                <div class="col mt-5">
                    <img class="image-taille align-items-center mb-5"
                         src="{{ asset('images/choisir-un-webmaster.png') }}" alt="">
                </div>
                <div class="col wow animate__animated animate__fadeInRight">
                    <H2 class="H2-color">
                        Avez-vous un projet à l’esprit ?
                    </H2>
                    <p>Besoin d’un développeur web freelance ?
                    </p>
                    <a href="#portfolio" type="button" class="button-color btn btn-primary">Voir mon portfolio</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section6" id="portfolio">
        <div class="container sm text-center">
            <div class="para">
                <hr class="barre mx-auto"/>
                <H2 class="H2-color">Projets récents</H2>
                <p>
                    Voici quelques-uns des sites et des projets que j’ai réalisés dernièrement.
                    .</p>
            </div>
            <div class="row mt-5">
                {% for site in portfolio %}
                    <div class="col">
                        <a href="{{ path('show_client', {'id': site.id}) }}"><img
                                    class="img-portfolio wow animate__animated animate__zoomIn mb-5"
                                    src="../images/{{ site.image }}" alt=""></a>
                    </div>
                {% endfor %}
            </div>
            <a href="#contact" type="button" class="button-color btn btn-primary">Me contacter</a>
        </div>
    </section>
    <section class="section7">
        <div class=" container ">
            <div class="row align-items-center">
                <div class="col mt-5">
                    <img class="image-taille align-items-center" src="{{ asset('images/phones.png') }}" alt="">
                </div>
                <div class="col-sm-7">
                    <H2 class="H2-orange ">
                        Mes services
                    </H2>
                    <p class="P-white-petit">Avec des expériences professionnelles très variées je propose aujourd’hui
                        un accompagnement très global. Du design de site internet à l’optimisation en passant par la
                        création ou la mise à jour de ceux-ci, je vous accompagne du début à la fin de votre projet
                    </p>
                    <a href="#clients" type="button" class="button-white btn btn-outline-light">Avis clients</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section8" id="clients">
        <div class="container">
            <div class="para text-center">
                <hr class="barre mx-auto"/>
                <H2 class="H2-color">Témoignages clients</H2>
                <img class="etoiles img-fluid" src="{{ asset('images/etoiles.png') }}" alt="">
                <p>Mon objectif principal est la pleine satisfaction de mes clients. Veillez trouver ci-dessous quelques
                    avis de clients. </p>
            </div>
            <div class="row mt-5">
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card mx-auto">
                        <p class="P-grey"> » Je suis fondatrice d’une agence depuis 5 ans, J’ai testé plus de 5
                            développeurs pour les projets clients et je peux vous garantir que Eric est l’un des
                            meilleurs avec qui j’ai pu travailler. Je ne peux que le recommandé. Aujourd’hui je lui
                            confie l’intégralité des projets Web interne à l’agence et à chaque fois il met un point
                            d’honneur à satisfaire nos clients. Si vous recherchez l’excellence, l’authenticité,
                            l’humain et le prix défiant toute concurrence alors ne cherchez plus vous avez trouvé !
                            « </p>
                        <p class="P-grey-title">Rupa</p>
                        <p class="P-grey">Directrice d'agence web</p>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card mx-auto">
                        <p class="P-grey"> » Je suis très satisfaite du travail fournit, c’est même au delà de mes
                            espérances. Personne très a l’écoute et extrêmement disponible pour le client. Il ma répondu
                            à toutes mes demandes et ma également donné de très bons conseils. Je recommande vivement
                            👍🏼 « </p>
                        <p class="P-grey-title">Sarah</p>
                        <p class="P-grey">Responsable de magasin Bio</p>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="card mx-auto">
                        <p class="P-grey">» Je suis plus que satisfait, déjà par le professionnalisme de Eric et cela
                            avant même de commencer à travailler. Le résultat c’est exactement ce que je désirais au
                            niveau du contenu et de la qualité. Le site que j’ai demander est beau et fonctionnel. Pour
                            finir la livraison fut rapide pour le travail demander. Bref je recommande 1000 fois. Encore
                            merci « </p>
                        <p class="P-grey-title">Arthur</p>
                        <p class="P-grey">E-commerçant</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section9" id="contact">
        <div class="parallax-effect2">
            <div class="container text-center">
                <div class="para">
                    <H2 class="H2-white-footer">Vous avez besoin d’un développeur web pour créer un site web ou une
                        application ?</H2>
                    <p class="P-white-petit">Vous souhaitez qu’on travaille ensemble ? Expliquez-moi vos besoins et je
                        vous propose un devis gratuit ainsi que mes disponibilitées.</p>
                </div>
                <div class="row mt-5">
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card mx-auto">
                            <p class="H3-portfolio">Téléphone</p>
                            <p>
                                <i class="footer fas fa-phone me-3"></i>
                                <a class="text-reset" href="tel:0788102112">+ 33 7 88 10 21 12</a>
                            </p>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card mx-auto">
                            <p class="H3-portfolio">E-mail</p>
                            <p>
                                <i class="footer fas fa-envelope me-3"></i>
                                <a class="text-reset" href="mailto:contact@eric-parlaoz.fr">contact@eric-parlaoz.fr</a>
                            </p>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="card mx-auto">
                            <p class="H3-portfolio">Adresse</p>
                            <p>
                                <i class="footer fas fa-home me-3"></i>
                                <a class="text-reset" href="">38 - France</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
